html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background: linear-gradient(45deg, rgb(255, 156, 230), rgb(106, 197, 250));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    text-align: center;
}
@media screen and (max-width: 60rem) {
    h1 {
      font-size: 8rem;
    }
  }
h1 {
    display:inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 4.5vw;
    letter-spacing: 1rem;
    color: #fff;
    text-shadow: 
    0 0 0.4rem rgb(192, 185, 185), 
    0 0 0.9rem rgb(214, 205, 205),
    0 0 0.9rem rgb(119, 247, 208), 
    0 0 1.4rem rgb(98, 213, 248), 
    0 0 1.8rem rgb(0, 217, 255),
    0 0 2.3rem rgb(134, 144, 151), 
    0 0 2.3rem rgb(52, 195, 252), 
    0 0 2.8rem #0fa;
    animation: glow 3s ease infinite;
    animation-timing-function: ease-in-out;
    
}
section {
    background-image: url(imgs/bayc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
   width: 100%;
   height: auto;
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   font-family: 'Poppins', sans-serif; 
}
.flex-box{
    width: 40rem;
    height: 60rem;
    margin: 5rem;
    background: white;
    text-align: left;
    color: black;
    font-size: 5rem;
    line-height: 3rem;
    border-radius: 2.2rem;
    box-shadow: 0rem 0.5rem 2rem 0 rgb(255, 222, 248);
}
#img {
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    object-fit: contain;
}
#logo {
    width: 1.5rem;
    margin-left: 2.7rem;
}
/* #card-1, #card-2, #card-3 {
    box-shadow: 0 0 3rem 1rem rgb(255, 228, 254);
}
#card-4, #card-5, #card-6 {
    box-shadow: 0 0 3rem 1rem rgb(237, 224, 255);
}
#card-7, #card-8, #card-9 {
    box-shadow: 0 0 3rem 1rem rgb(230, 251, 255);
} */
span {
    font-size: 3rem;
    color: rgb(53, 56, 64);
}
h2 {
    text-align: left;
    margin: 2rem 0 2rem 2rem;
    font-size: 2.5rem;
}
h3 {
    text-align: left;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(68, 68, 68);
}
/* CSS Animations */
.flex-box:hover {
    text-shadow:-0.2rem -0.2rem 0 cyan, 0.2rem 0.2rem 0 magenta;
    box-shadow: 0 0 3rem 1rem rgb(230, 251, 255);
}
  h2:hover,h3:hover {
    text-shadow:-0.2rem -0.2rem 0 cyan, 0.2rem 0.2rem 0 magenta;
  }
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes glow {
   25% {
       text-shadow:
       0 0 0.6rem rgb(192, 185, 185), 
       0 0 1.1rem rgb(214, 205, 205),
       0 0 1.1rem rgb(119, 247, 208), 
       0 0 1.7rem rgb(98, 213, 248), 
       0 0 2.2rem rgb(0, 217, 255),
       0 0 2.3rem rgb(134, 144, 151), 
       0 0 2.3rem rgb(52, 195, 252), 
       0 0 3.5rem #0fa;
   }
   50% {
    text-shadow: 
    0 0 0.3rem rgb(192, 185, 185), 
    0 0 0.8rem rgb(214, 205, 205),
    0 0 0.9rem rgb(119, 247, 208), 
    0 0 1.3rem rgb(98, 213, 248), 
    0 0 1.5rem rgb(0, 217, 255),
    0 0 2rem rgb(134, 144, 151), 
    0 0 2rem rgb(52, 195, 252), 
    0 0 2.5rem #0fa;
   }
   75% {
    text-shadow:
    0 0 0.6rem rgb(192, 185, 185), 
    0 0 1.1rem rgb(214, 205, 205),
    0 0 1.1rem rgb(119, 247, 208), 
    0 0 1.7rem rgb(98, 213, 248), 
    0 0 2.2rem rgb(0, 217, 255),
    0 0 2.3rem rgb(134, 144, 151), 
    0 0 2.3rem rgb(52, 195, 252), 
    0 0 3.5rem #0fa;
}
   }
#card-1:hover {
    transform: rotate(-10deg);
    transition: 0.3s;
}
#card-2:hover {
    transform: scale(1.15);
}
#card-3:hover {
    transform: rotate(10deg);
    transition: 0.3s;
}
#card-4:hover {
    transform: rotate(-10deg);
    transition: 0.3s;
}

/* JS Animations */
h1 {
    opacity: 0;
    filter: blur(0.5rem);
    transform: translatey(10%);
    transition: all 1s ease-out;
}
.show {
    opacity: 1;
    bottom: 0;
    filter: blur(0);
    transform: translateX(0);
}
/* opacity: 0;
   position:relative;
   bottom:4rem
   ->
   opacity:1;
   bottom:0;
*/
