html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background: linear-gradient(rgb(255, 156, 230), rgb(106, 197, 250));
    text-align: center;
}
@media screen and (min-width: 601px) {
    h1 {
      font-size: 80px;
    }
  }
h1 {
    display:inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 10rem;
    line-height: 90rem;
    letter-spacing: 1rem;
    color: #fff;
    text-shadow: 
    0 0 1rem rgb(192, 185, 185), 
    0 0 1.5rem rgb(214, 205, 205),
    0 0 2rem rgb(119, 247, 208), 
    0 0 3rem rgb(98, 213, 248), 
    0 0 4rem rgb(0, 217, 255),
    0 0 5rem rgb(134, 144, 151), 
    0 0 5rem rgb(52, 195, 252), 
    0 0 6rem #0fa;
}
section {
    background-image: url(imgs/bayc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100rem;
    height: 100rem;
    
}
.flex-container {
   width: 100%;
   height: auto;
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   font-family: 'Poppins', sans-serif; 
}
.flex-box{
    width: 40rem;
    height: 60rem;
    margin: 5rem;
    background: white;
    text-align: left;
    color: black;
    font-size: 5rem;
    line-height: 3rem;
    border-radius: 2.2rem;
    box-shadow: 0rem 0.5rem 2rem 0 rgb(171, 238, 255);
}
#img {
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    object-fit: contain;
}
#logo {
    width: 1.5rem;
    margin-left: 2.7rem;
}
#card-1, #card-2, #card-3 {
    box-shadow: 0 0 3rem 1rem rgb(255, 228, 254);
}
#card-4, #card-5, #card-6 {
    box-shadow: 0 0 3rem 1rem rgb(237, 224, 255);
}
#card-7, #card-8, #card-9 {
    box-shadow: 0 0 3rem 1rem rgb(230, 251, 255);
}
span {
    font-size: 3rem;
    color: rgb(53, 56, 64);
    text-shadow:-0.2rem -0.2rem 0 cyan, 0.2rem 0.2rem 0 magenta;
}
h2 {
    text-align: left;
    margin: 2rem 0 2rem 2rem;
    font-size: 2.5rem;
    text-shadow:-0.2rem -0.2rem 0 cyan, 0.2rem 0.2rem 0 magenta;
}
h3 {
    text-align: left;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(68, 68, 68);
    text-shadow:-0.2rem -0.2rem 0 cyan, 0.2rem 0.2rem 0 magenta;
}
/* CSS Animations */
.flex-box:hover {
    transform: scale(1.15);
  }

/* JS Animations */
h1 {
    opacity: 0;
    filter: blur(0.5rem);
    transform: translatey(10%);
    transition: all 1s ease-out;
}
.show {
    opacity: 1;
    bottom: 0;
    filter: blur(0);
    transform: translateX(0);
}
/* opacity: 0;
   position:relative;
   bottom:4rem
   ->
   opacity:1;
   bottom:0;
*/
