html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background: linear-gradient(45deg, rgb(255, 156, 230), rgb(106, 197, 250));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    text-align: center;
}
@media screen and (min-width: 60rem) {
    h1 {
      font-size: 8rem;
    }
  }
h1 {
    display:inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 4.5vw;
    letter-spacing: 1rem;
    color: #fff;
    text-shadow: 
    0 0 0.4rem rgb(192, 185, 185), 
    0 0 0.9rem rgb(214, 205, 205),
    0 0 0.9rem rgb(119, 247, 208), 
    0 0 1.4rem rgb(98, 213, 248), 
    0 0 1.8rem rgb(0, 217, 255),
    0 0 2.3rem rgb(134, 144, 151), 
    0 0 2.3rem rgb(52, 195, 252), 
    0 0 2.8rem #0fa;
    animation: glow 3s ease infinite;
    animation-timing-function: ease-in-out;
    
}
section {
    background-image: url(imgs/bayc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
   width: 100%;
   height: auto;
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   font-family: 'Poppins', sans-serif; 
}
.flex-box {
    width: 40rem;
    height: 60rem;
    margin: 5rem;
    background: white;
    text-align: left;
    color: rgb(68,68,68);
    font-size: 5rem;
    line-height: 3rem;
    border-radius: 2.2rem;
    box-shadow: 0rem 0rem 5rem 0 rgb(200, 255, 238);
}
#img {
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    object-fit: contain;
}
#logo {
    width: 1.5rem;
    margin-left: 2.7rem;
}
span {
    font-size: 3rem;
}
h2 {
    text-align: left;
    margin: 2rem 0 2rem 2rem;
    font-size: 2.5rem;
}
h3 {
    text-align: left;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 400;
}
/* CSS Animations */
.flex-box:hover {
    text-shadow:-0.2rem -0.2rem 0 cyan, 0.2rem 0.2rem 0 magenta;
    box-shadow: 0 0 3rem 1rem rgb(230, 251, 255);
    box-shadow: red 0rem 0rem 5rem 0rem;
    color: white;
    background-color: #22272e;
    animation: glow-2 2s infinite;   
}
#card-1:hover {
    animation: pulse 2s infinite;
    animation-timing-function: linear;
}
#card-2:hover {
    box-shadow: rgb(255, 196, 0) 0rem 0rem 5rem 0rem;
    animation: gold-glow 2s infinite;
    animation: dizzy 2s infinite;
    animation-timing-function: dizzy linear;
}
#card-5:hover {
    box-shadow: #0fa 0rem 0rem 5rem 0rem;
    animation: green-glow 2s infinite;
    animation-timing-function: linear;
    animation: pulse 2s infinite;
    animation-timing-function: linear;
}
#img:hover {
    animation: blur 3s infinite;
}
#card-7:hover {
    box-shadow: gold 0rem 0rem 5rem 0rem;
    animation: gold-glow 2s infinite;
    animation: pulse 2s infinite;
    animation-timing-function: linear;
}
#card-8:hover, #card-9:hover {
    box-shadow: rgb(0, 255, 136) 0rem 0rem 5rem 0rem;
    animation: 2s infinite;
    animation: cry 3s infinite;
    animation-timing-function: linear;
}
.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
/* Keyframes */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes glow {
   25% {
       text-shadow:
       0 0 0.6rem rgb(192, 185, 185), 
       0 0 1.1rem rgb(214, 205, 205),
       0 0 1.1rem rgb(119, 247, 208), 
       0 0 1.7rem rgb(98, 213, 248), 
       0 0 2.2rem rgb(0, 217, 255),
       0 0 2.3rem rgb(134, 144, 151), 
       0 0 2.3rem rgb(52, 195, 252), 
       0 0 3.5rem #0fa;
   }
   50% {
    text-shadow: 
    0 0 0.3rem rgb(192, 185, 185), 
    0 0 0.8rem rgb(214, 205, 205),
    0 0 0.9rem rgb(119, 247, 208), 
    0 0 1.3rem rgb(98, 213, 248), 
    0 0 1.5rem rgb(0, 217, 255),
    0 0 2rem rgb(134, 144, 151), 
    0 0 2rem rgb(52, 195, 252), 
    0 0 2.5rem #0fa;
   }
   75% {
    text-shadow:
    0 0 0.6rem rgb(192, 185, 185), 
    0 0 1.1rem rgb(214, 205, 205),
    0 0 1.1rem rgb(119, 247, 208), 
    0 0 1.7rem rgb(98, 213, 248), 
    0 0 2.2rem rgb(0, 217, 255),
    0 0 2.3rem rgb(134, 144, 151), 
    0 0 2.3rem rgb(52, 195, 252), 
    0 0 3.5rem #0fa;
}
   }
@keyframes glow-2 {
    25% {
    box-shadow: red 0rem 0rem 7rem 0rem;
    }
    50% {
    box-shadow: red 0rem 0rem 10rem 0rem;
    }
    75% {
    box-shadow: red 0rem 0rem 7rem 0rem;
    }
    100% {
    box-shadow: red 0rem 0rem 5rem 0rem;
    }
 }
 @keyframes green-glow {
    25% {
        box-shadow: rgb(0, 255, 136) 0rem 0rem 7rem 0rem;
        }
        50% {
        box-shadow: rgb(0, 255, 136) 0rem 0rem 10rem 0rem;
        }
        75% {
        box-shadow: rgb(0, 255, 136) 0rem 0rem 7rem 0rem;
        }
        100% {
        box-shadow: rgb(0, 255, 136) 0rem 0rem 5rem 0rem;
        }
    }
 @keyframes gold-glow {
    25% {
    box-shadow: gold 0rem 0rem 7rem 0rem;
    }
    50% {
    box-shadow: gold 0rem 0rem 10rem 0rem;
    }
    75% {
    box-shadow: gold 0rem 0rem 7rem 0rem;
    }
    100% {
    box-shadow: gold 0rem 0rem 5rem 0rem;
    }
 }
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}
@keyframes cry {
   40% {
       transform: translateY(-15px);
   }
   80% {
       transform: translateY(15px);
   }
}
@keyframes pulse {
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1)
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes dizzy {
    33% {
        transform: rotate(5deg);
    }
    66% {
        transform: rotate(-5deg);
    }
}
/* Image Swap Hover Effect */
.swap {
    position: relative;
    display: inline-block;
}
.swap .img-swap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.flex-box:hover .img-swap {
    display: inline;
}

#logo:hover {
    display: none;
}
/* JS Animations */
h1 {
    opacity: 0;
    filter: blur(0.5rem);
    transform: translatey(-100%);
    transition: all 1s ease-out;
}
.show {
    opacity: 1;
    bottom: 0;
    filter: blur(0);
    transform: translateX(0);
}
/* opacity: 0;
   position:relative;
   bottom:4rem
   ->
   opacity:1;
   bottom:0;
*/